.control {
  padding: 12px 12px;
  background-color: #444;
  color: white;
}

.conventionBlock {
  margin-top: 8px;
}

.conventionColor {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.conventionTitle {
  //
}

.conventionDescription {
  font-size: 11px;
}
