:global(#root) {
  width: 100vw;
  height: 100vh;
}

.mapContainer {
  height: 100vh;
}

.appContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.tooltip {
  //
}
